@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Manrope", sans-serif;
    scroll-behavior: smooth;
  }
}

@layer components {
  .brand {
    @apply flex items-center gap-2;
  }

  .brand span {
    @apply text-[28px] font-extrabold text-neutral-800;
  }

  .brand-light .arrow-up-right {
    @apply bg-lime-300;
  }

  .brand-dark .arrow-up-right {
    @apply bg-neutral-900;
  }

  .btn {
    @apply flex justify-center items-center gap-2;
  }

  .btn-primary {
    @apply px-5 py-2.5 bg-lime-300 rounded-[32px];
  }

  .btn-secondary {
    @apply px-4 py-2 rounded-3xl;
  }

  .btn-icon {
    @apply w-12 aspect-square flex justify-center items-center bg-white rounded-full border border-neutral-200;
  }

  .rounded-icon {
    @apply w-7 md:w-8 aspect-square flex justify-center items-center rounded-full;
  }

  .section-heading button {
    @apply btn btn-secondary;
  }

  .section-heading h2 {
    @apply my-4 text-2xl sm:text-3xl lg:text-4xl font-bold  text-neutral-800;
  }

  .section-heading p {
    @apply text-neutral-700;
  }
}

#counter ul {
  @apply p-8 md:p-12 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-8 bg-white rounded-xl;
}

#counter li {
  @apply flex flex-col justify-center items-center;
}

#counter h3 {
  @apply mt-2 mb-1 text-3xl lg:text-4xl font-semibold text-neutral-600;
}

#counter p {
  @apply text-neutral-500;
}

#work-process ul {
  @apply mt-5 md:mt-6 lg:mt-8 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4 md:gap-5 lg:gap-6;
}

#work-process li {
  @apply p-4 md:p-6 rounded-xl;
}

#work-process li > img {
  @apply w-12 aspect-square;
}

#work-process h3 {
  @apply my-2 text-xl font-semibold text-neutral-900;
}

#work-process p {
  @apply text-neutral-700;
}

#portfolio li {
  @apply p-4 border rounded-3xl bg-white;
}

#portfolio li > img {
  @apply w-full;
}

#news .card {
  @apply w-full flex flex-col sm:flex-row lg:flex-col gap-4 p-4 rounded-3xl bg-white;
}

#news li > img {
  @apply shrink-0 object-cover w-full sm:w-5/12 lg:w-full rounded-xl;
}

#news .infos {
  @apply flex gap-4;
}

#news .info {
  @apply flex gap-2 justify-center items-center text-neutral-500 text-sm;
}

#news h3 {
  @apply my-2 text-xl text-neutral-800 font-semibold;
}

#news p {
  @apply mb-3 text-neutral-600;
}

@keyframes scroll-left {
  to {
    translate: -100%;
  }
}

#reviews ul {
  width: min(calc((var(--child-width) + var(--gap)) * (var(--child-count) - 1)), 100%);
  mask-image: linear-gradient(to right, transparent, black 20%, black 80%, transparent);
}

#reviews li {
  @apply absolute top-1/2 -translate-y-1/2 p-4 flex flex-col border rounded-xl;
  width: var(--child-width);
  translate: calc((var(--child-width) + var(--gap)) * (var(--child-count) - 1));
  animation-name: scroll-left;
  animation-duration: calc(var(--animation-duration-per-child) * var(--child-count));
  animation-timing-function: linear;
  animation-delay: calc(var(--animation-duration-per-child) * (var(--child-count) - var(--child-no)) * -1);
  animation-iteration-count: infinite;
}

#reviews li img {
  @apply w-14 aspect-square mx-auto border-4 border-neutral-700 rounded-full;
}

#reviews li p {
  @apply my-4 text-neutral-600 italic;
}

#reviews li span:nth-of-type(1) {
  @apply text-neutral-900 font-semibold;
}

#reviews li span:last-child {
  @apply text-sm text-neutral-600;
}

#reviews li::before,
#reviews li::after {
  @apply absolute text-9xl text-neutral-300;
}

#reviews li::before {
  @apply content-['“'] top-0 left-0 translate-x-6 translate-y-4;
}

#reviews li::after {
  @apply content-['„'] bottom-0 right-0 -translate-x-6 -translate-y-8;
}

#footer .brand span {
  @apply text-neutral-200;
}
